:root {
  --bg-body: #0f172a;
  --bg-card: #1e293b;
  --text-main: #f1f5f9;
  --text-muted: #94a3b8;
  --primary: #38bdf8;
  --primary-hover: #7dd3fc;
  --danger: #ef4444;
  --border: #334155;
  --font-main: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-body);
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-header {
  text-align: center;
  padding: 20px;
  background-color: var(--bg-card);
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

.login-container {
  width: 100%;
  max-width: 450px;
  margin: auto;
  /* Centrado vertical */
  background-color: var(--bg-card);
  padding: 40px;
  border-radius: 10px;
  border: 1px solid var(--border);
}

#titulo h3 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
  font-size: 1.8rem;
}

label {
  display: block;
  margin-bottom: 8px;
  color: var(--text-muted);
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  background-color: var(--bg-body);
  border: 1px solid var(--border);
  color: #fff;
  border-radius: 5px;
}

.btn-registrar {
  width: 100%;
  padding: 12px;
  background-color: var(--primary);
  color: var(--bg-body);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn-registrar:hover {
  background-color: var(--primary-hover);
}

#iniciar-sesion {
  text-align: center;
  margin-top: 20px;
}

#iniciar-sesion a {
  color: var(--primary);
  text-decoration: none;
}

.error {
  color: var(--danger);
  font-size: 0.85rem;
  margin-bottom: 10px;
}